@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

header{

}

.price{
	font-family: 'Anton', sans-serif;
	position: absolute;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	right: 20px;
	top: -60px;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}